.button {
  display: inline-block;
  width: fit-content;
  padding-inline: 2.5em;
  font-weight: 700;
  font-size: 2rem;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  transition: var(--transition);
  border-radius: 0.5rem;
  &:hover{
    color: var(--primary);
  }
  &--icon{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}